body {
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin: auto;
    max-width: 50em;
}

ul.post-lists {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

pre {
    background: #eeeeee;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

#page-title {
    text-align: center;
}

.datetime-title {
    display: inline-block;
}

#page-title a:hover, .post-list a:hover {
    text-decoration: underline;
}
