body {
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin: auto;
    max-width: 50em;
    background-image: url("/images/winter-mountain.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #efe6d4;
}

ul.post-lists {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

pre {
    background: #eeeeee;
    padding: 20px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

h1 {
    font-size: 28px;
}

#page-title {
    text-align: center;
}

.datetime-title {
    display: inline-block;
}

#page-title a:hover, .post-list a:hover {
    text-decoration: underline;
}

#post {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  opacity: 0.85;
}

#freepik-credit {
  position: relative;
  top: 10px;
}
