<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

        <title>{{.Title}}</title>

        <link rel="stylesheet" href="/css/stylesheet.css">

        {{ with .Site.Params.favicon }}
        <link rel="shortcut icon" href="{{ . }}">
        {{ end }}

        {{ with .Site.GoogleAnalytics }}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149827973-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', {{ . }});
        </script>
        {{ end }}

    </head>
    <body>
        <section id="page-title">
            <h1><a href="/">{{ .Site.Params.sitename | default "Alphabird"}}</a></h1>
        </section>
